<div class="genres">

  <div class="rockCard genres__card" (click)="getAlbums('rock')">
    <p>Rock</p>
  </div>
  <div class="electroCard genres__card" (click)="getAlbums('Electro')">
    <p>Electro</p>

  </div>
  <div class="hipHopCard genres__card" (click)="getAlbums('Hip-Hop')">
    <p>Hip-Hop</p>

  </div>
  <div class="popCard genres__card" (click)="getAlbums('Pop')">
    <p>Pop</p>

  </div>
  <div class="rNbCard  genres__card" (click)="getAlbums('R and B')">
    <p>R&B</p>

  </div>
  <div class="indieCard genres__card" (click)="getAlbums('Indie')">
    <p>Indie</p>

  </div>

</div>
